---
const {
  date, 
  seminar,
  place,
  title, 
  slides,
  comment,
  duration,
} = Astro.props
---

<li>
  {date} ·
  {seminar.url ?
    <a href={seminar.url}>{seminar.name}</a> :
    seminar.name
  }, {place} ·
  {title}
  <ul class="ml-8">
    {comment && 
      <li>
        {comment}
      </li>
    }
    {slides &&
      <li>
        Slides ({duration}): {slides.map((slide) =>
          <a href={slide.url}>{slide.name}</a><span class="last:hidden">, </span>
        )}
      </li>
    }
  </ul>
</li>
